{% extends 'base.html.twig' %}

{% block body %}
    {% for course in courses %}
        <article class="course">
            <img src="http://img.youtube.com/vi/{{ course.youtubeid }}/mqdefault.jpg" width="150" />
                <a href="{{ path('course_view', {id: course.id}) }}">
                    {{ course.name }}
                </a>
        </article>
    {% else %}
        <div class="well">{{ 'course.no_courses_found'|trans }}</div>
    {% endfor %}

    {# if courses.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(courses, 'twitter_bootstrap3_translated', {routeName: 'course_index_paginated', routeParams: app.request.query.all}) }}
        </div>
    {% endif #}
{% endblock %}