{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ course.name }}</h1>
    {% if viewAllowed %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ course.youtubeid }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {% else %}
        Course video is protected!
    {% endif %}
{% endblock %}