<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <p>
            <a href="{{ path('course_index') }}">Home</a> |
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ 'profile.show.username'|trans({},'FOSUserBundle') }}: {{ app.getUser.username }} |
                {{ 'profile.show.email'|trans({},'FOSUserBundle') }}: {{ app.getUser.email }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        </p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
